<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News App</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="d-flex justify-content-center" style="align-items: center; margin-top: 10px">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Welcome to the only News Source you will ever need</h1>
            <p class="card-text">We have the most trustworthy news you can get</p>
        </div>
    </div>
</div>
</body>
</html>